body{
    background-color: black;
    color: aliceblue;
    line-height: 1.5;
}

h2{
    color: orange;
}

.texto-ingles{
    font-style: italic;
}

#nome-usuario{
    font-weight: bold;
}


